html,
body {
  border: 0;
  font-family: "Helvetica-Neue", "Helvetica", Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
div,
span,
object,
iframe,
img,
table,
caption,
thead,
tbody,
tfoot,
tr,
tr,
td,
article,
aside,
canvas,
details,
figure,
hgroup,
menu,
nav,
footer,
header,
section,
summary,
mark,
audio,
video {
  border: 0;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cit,
code,
del,
dfn,
em,
ins,
q,
samp,
small,
strong,
sub,
sup,
b,
i,
hr,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
legend,
label {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
article,
aside,
canvas,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
nav,
section,
audio,
video {
  display: block;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
table caption,
table th,
table td {
  text-align: left;
  vertical-align: middle;
}
a img {
  border: 0;
}
:focus {
  outline: 0;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}
body > div {
  width: 100%;
}
body .container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
body .container .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0 100px;
}
body .container .title h3 {
  font-size: 34px;
  letter-spacing: 1px;
  color: #1d1e1f;
}
body .container .title p {
  font-size: 16px;
  color: #898888;
  font-weight: 300;
  font-style: italic;
}
header {
  /* Menu */
  display: flex;
  height: 100vh;
}
header .container {
  justify-content: space-between;
  /* Read more */
  /* Go down button */
}
header .container .topnav .menu-items {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
header .container .topnav .menu-items a {
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 17px;
  color: #989696;
  text-align: center;
  text-decoration: none;
  padding: 0 20px;
}
header .container .topnav .menu-items a:last-child {
  padding-right: 0;
}
header .container .topnav .menu-items a:hover {
  color: #111;
}
header .container .topnav .menu-items a.active {
  color: #111;
}
header .container .topnav .menu-items a.logo img {
  width: 55px;
}
header .container .topnav .icon {
  display: none;
}
header .container .read-more-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header .container .read-more-block h1 {
  line-height: 1;
  font-size: 44px;
  color: #1d1e1f;
  text-align: center;
}
header .container .read-more-block h2 {
  font-size: 16px;
  color: #898888;
  font-weight: 300;
  font-style: italic;
  text-align: center;
}
header .container .read-more-block button.read-more {
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 17px;
  color: #000;
  text-align: center;
  border: 1px solid #000;
  background: #fff;
  cursor: pointer;
  padding: 19px 49px;
  margin-top: 40px;
}
header .container .go-down {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-bottom: 100px;
}
header .container .go-down a {
  display: inline-block;
  width: 10px;
  height: 57px;
  background: url('../img/Go down.png') no-repeat 50% 50%;
}
/* Timeline */
.timeline {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: #1d1d1d;
  background-image: url("../img/Buildings.png");
  background-repeat: no-repeat;
  background-position: 50% 101%;
  background-size: contain;
}
.timeline:before {
  content: '';
  position: absolute;
  right: 0;
  left: 0;
  background: #fff;
  width: 5px;
  height: 100%;
  margin: 0 auto;
}
.timeline .container {
  flex-wrap: wrap;
}
.timeline .container .item {
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  position: relative;
  width: 50%;
  padding-bottom: 100px;
}
.timeline .container .item:first-child {
  padding-top: 150px;
  justify-content: flex-end;
  padding-bottom: 0;
}
.timeline .container .item:last-child {
  padding-bottom: 350px;
}
.timeline .container .item h3 {
  display: flex;
  align-items: center;
  position: relative;
  font-size: 48px;
  letter-spacing: 1px;
  text-align: right;
  color: #fefefe;
}
.timeline .container .item p {
  display: flex;
  align-items: center;
  align-self: flex-end;
  max-width: 350px;
  font-size: 15px;
  color: #b7b7b7;
  font-weight: 300;
  text-align: justify;
}
.timeline .container .item:nth-child(2n) {
  align-self: flex-end;
  position: relative;
}
.timeline .container .item:nth-child(2n) h3 {
  text-align: right;
  padding-left: 60px;
}
.timeline .container .item:nth-child(2n) h3:before {
  content: '';
  position: absolute;
  left: -19px;
  width: 28px;
  height: 28px;
  border-radius: 23px;
  background-color: #1d1d1d;
  border: 5px solid #ffffff;
  z-index: 1;
}
.timeline .container .item:nth-child(2n) p {
  padding-left: 60px;
  align-self: flex-start;
}
.timeline .container .item:nth-child(2n + 1) {
  position: relative;
}
.timeline .container .item:nth-child(2n + 1) h3 {
  text-align: right;
  align-self: flex-end;
  padding-right: 55px;
}
.timeline .container .item:nth-child(2n + 1) h3:after {
  content: '';
  position: absolute;
  right: -19px;
  width: 28px;
  height: 28px;
  border-radius: 23px;
  background-color: #1d1d1d;
  border: 5px solid #ffffff;
  z-index: 1;
}
.timeline .container .item:nth-child(2n + 1) p {
  padding-right: 60px;
}
.timeline .container .item.active h3:before {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  left: -29px;
}
.timeline .container .item.active h3:after {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  right: -29px;
}
/* Team */
.team {
  position: relative;
  padding-bottom: 20px;
  overflow: hidden;
}
.team:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -140px;
  left: 0;
  width: 0;
  height: 0;
  border-top: 140px solid white;
  border-right: 1920px solid transparent;
  z-index: 10;
}
.team .container {
  justify-content: center;
}
.team .container .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0 100px;
}
.team .container .title h3 {
  font-size: 34px;
  letter-spacing: 1px;
  color: #1d1e1f;
}
.team .container .title p {
  font-size: 16px;
  color: #898888;
  font-weight: 300;
  font-style: italic;
}
.team .container .team-items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.team .container .team-items .item {
  display: flex;
  flex: 0 1 33%;
  flex-direction: column;
  align-items: center;
}
.team .container .team-items .item:nth-child(2n) {
  margin-bottom: 200px;
}
.team .container .team-items .item img {
  width: 170px;
  height: 170px;
}
.team .container .team-items .item .decr {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team .container .team-items .item .decr h3.name {
  font-size: 24px;
  color: #464646;
  line-height: 24px;
  padding-top: 20px;
}
.team .container .team-items .item .decr p.skill {
  font-size: 13px;
  line-height: 26px;
  color: #b3b3b3;
  text-align: center;
}
.team .container .team-items .item .decr .soc {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
.team .container .team-items .item .decr .soc a {
  color: #e4e4e4;
  padding-right: 15px;
}
.team .container .team-items .item .decr .soc a:last-child {
  padding-right: 0;
}
.team .container .team-items .item .decr .soc a i {
  font-size: 20px;
}
/* Blog */
.blog {
  background-color: #181818;
  padding-top: 150px;
  padding-bottom: 200px;
  position: relative;
  overflow: hidden;
}
.blog:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 0;
  height: 0;
  border-bottom: 170px solid white;
  border-left: 1920px solid transparent;
}
.blog:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-top: 170px solid white;
  border-right: 1920px solid transparent;
}
.blog .container .title h3 {
  color: #ffffff;
}
.blog .container .title p {
  color: #777777;
}
.blog .container .blog-items {
  display: flex;
  flex-wrap: wrap;
}
.blog .container .blog-items .item {
  display: flex;
  flex: 1 0 33.333%;
  flex-direction: column;
  align-items: center;
}
.blog .container .blog-items .item img {
  width: 172px;
  height: 172px;
}
.blog .container .blog-items .item .descr {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
}
.blog .container .blog-items .item .descr h3 {
  font-size: 26px;
  letter-spacing: 1px;
  color: #ffffff;
  padding: 25px 0;
}
.blog .container .blog-items .item .descr p {
  font-size: 18px;
  line-height: 23px;
  color: #383838;
  text-align: center;
}
.blog .container .visit-blog {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
.blog .container .visit-blog button {
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 17px;
  color: #000;
  text-align: center;
  border: 1px solid #000;
  background: #fff;
  cursor: pointer;
  padding: 19px 49px;
  margin-top: 40px;
}
/* Contact Us*/
.contact-us .container .contacts {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}
.contact-us .container .contacts p {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 60px;
}
.contact-us .container .contacts p i {
  font-size: 20px;
  color: #313131;
}
.contact-us .container .contacts p a {
  font-size: 12px;
  line-height: 26px;
  color: #898888;
  text-decoration: none;
}
.contact-us .container .contact-form {
  display: flex;
  justify-content: center;
}
.contact-us .container .contact-form form {
  display: flex;
  flex-direction: column;
  flex: 0 1 700px;
}
.contact-us .container .contact-form form input {
  padding: 15px 0;
  margin-bottom: 15px;
  text-align: center;
}
.contact-us .container .contact-form form textarea {
  padding: 15px;
}
.contact-us .container .contact-form form button.submit {
  background-color: #161616;
  padding: 15px 0;
  font-size: 17px;
  line-height: 26px;
  color: #fefefe;
  border: none;
  margin-top: 20px;
  cursor: pointer;
}
footer .copyright {
  margin: 50px 0;
}
footer .copyright p {
  font-size: 14px;
  line-height: 26px;
  color: #3b3b3b;
}
@media screen and (max-width: 768px) {
  header {
    height: auto;
    width: 100%;
  }
  header .container .topnav a {
    display: none;
  }
  header .container .topnav .icon {
    position: absolute;
    right: 20px;
    top: 0;
  }
  header .container .topnav a.icon {
    float: right;
    display: block;
    color: #000000;
    font-size: 25px;
    position: absolute;
    z-index: 11;
  }
  header .container .topnav.responsive {
    position: relative;
  }
  header .container .topnav.responsive a {
    float: none;
    display: block;
    text-align: center;
    padding: 5px 0;
  }
  header .container .topnav.responsive a.logo {
    display: none;
  }
  header .container .topnav.responsive .menu-items {
    display: block;
    flex-direction: column;
    position: absolute;
    background: #fff;
    width: 100%;
    padding: 40px 0;
    z-index: 10;
  }
  header .container .topnav .menu-items {
    display: none;
  }
  header .container .read-more-block {
    padding-top: 20px;
  }
  header .container .go-down {
    padding-bottom: 20px;
    padding-top: 20px;
  }
  .timeline .container .item:nth-child(2n) {
    padding-bottom: 150px;
  }
  .timeline .container .item:nth-child(2n) p {
    flex-wrap: wrap;
    padding: 0 30px;
  }
  .timeline .container .item:nth-child(2n) h3 {
    padding-left: 30px;
  }
  .timeline .container .item:nth-child(2n +1 ) h3 {
    padding-right: 30px;
  }
  .timeline .container .item:nth-child(2n +1 ) p {
    flex-wrap: wrap;
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media screen and (max-width: 520px) {
  body .container .title {
    padding: 20px 0;
  }
  header .container .read-more-block h1 {
    padding: 20px 0;
  }
  .timeline {
    background-image: none;
  }
  .timeline:before {
    display: none;
  }
  .timeline .container {
    padding-bottom: 20px;
  }
  .timeline .container .item {
    padding-bottom: 0;
    width: 100%;
  }
  .timeline .container .item:first-child {
    padding-top: 20px;
  }
  .timeline .container .item h3 {
    padding: 0 15px;
  }
  .timeline .container .item h3:before {
    display: none;
  }
  .timeline .container .item h3:after {
    display: none;
  }
  .timeline .container .item.item:nth-child(2n + 1) h3,
  .timeline .container .item.item:nth-child(2n + 1) p {
    padding-right: 15px;
  }
  .timeline .container .item p {
    padding: 0 15px;
  }
  .timeline .container .item.item:nth-child(2n) {
    padding-bottom: 0;
  }
  .timeline .container .item.item:nth-child(2n) h3,
  .timeline .container .item.item:nth-child(2n) p {
    padding-left: 15px;
  }
  .team .container .team-items .item {
    flex: 0 1 100%;
  }
  .team .container .team-items .item:nth-child(2n) {
    margin-bottom: 0;
  }
  .blog {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .blog:after {
    display: none;
  }
  .blog:before {
    display: none;
  }
  .blog .container .title {
    padding: 10px 0;
  }
  .blog .container .title h3,
  .blog .container .title p {
    text-align: center;
  }
  .blog .container .blog-items .item {
    flex: 0 1 100%;
  }
  .contact-us .container .contacts {
    flex-direction: column;
    flex-wrap: wrap;
  }
}
/*# sourceMappingURL=style.css.map */